# Build results
[Bb]in/
[Oo]bj/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Test results
[Tt]est[Rr]esult*/
*.trx

# User-specific files
*.rsuser
